body{
  font-family: 'papyrus';  
  display: flex;
  flex-direction: row;
}

.App{
  position: absolute;
  float: left;
  text-align: center;
  width: 50%;
  height: 100%;
  background-color: aqua;
  align-items: stretch;
}

.empPage{
  position: absolute;
  float: right;
  text-align: center;
  width: 50%;
  height: 100%;
  background-color: bisque;
  margin-left: 50%;
}

#search{
  width: 98%;
  height: 25px;
  border-radius: 25px;
}

#leftHeader{
  margin: 0;
}

#rightHeader{
  margin: 0;
}

.empImg{
  border-radius: 50%;
  float: left;
  margin: 5px;
}

#one{
  width: 100%;
  height: 75px;
  background-color: white;
  border: 1px solid gray;
}

#two{
  width: 100%;
  height: 75px;
  background-color: white;
  border: 1px solid gray;

}

#three{
  width: 100%;
  height: 75px;
  background-color: white;
  border: 1px solid gray;

}

#four{
  width: 100%;
  height: 75px;
  background-color: white;
  border: 1px solid gray;

}

#five{
  width: 100%;
  height: 75px;
  background-color: white;
  border: 1px solid gray;

}

#six{
  width: 100%;
  height: 75px;
  background-color: white;
  border: 1px solid gray;

}

#seven{
  width: 100%;
  height: 75px;
  background-color: white;
  border: 1px solid gray;

}

#eight{
  width: 100%;
  height: 75px;
  background-color: white;
  border: 1px solid gray;

}












